<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.ebook.cobook.mapper.BorrowedBookMapper">

	<select id="bollowBookList" resultType="map">
		SELECT e.ebook_no, e.title, f.fileurl
		FROM ebook e INNER JOIN files f
		ON e.ebook_no = f.file_no
		WHERE EXISTS(SELECT ebook_no FROM borrow b
		WHERE member_no = #{member_no} AND e.ebook_no = b.ebook_no)
	</select>

</mapper>