<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.ebook.cobook.mapper.ebookMapper">

	<select id="getEbookList" resultType="EbookVO">
	select 
		ebook_no,
		title,
		author,
<!--	cover,
		 files.filename,
		 files.filetype,		 -->
		files.fileurl as cover
	from EBOOK  
		LEFT OUTER JOIN files  ON
		 (cover= files.file_no 
		 and files.filetype= 'COVER' 
		 and files.book_type='EBOOK')
	ORDER BY ebook_no
	</select>


	<insert id="setBookmark" parameterType="EbookVO">	
		insert into BOOKMARK ( BOOKMARK_NO ,MEMBER_NO ,EBOOK_NO ,EBOOKPAGE , READDATE , CHAPTER , MYBOOKMARK  )
		values( BOOKMARK_no_seq.nextval, #{member_no} , #{ebook_no} , #{ebookPage} , SYSDATE , #{chapter} , #{mybookmark})
	</insert>
	
	<delete id="removeBookmark" parameterType="EbookVO">	
		DELETE FROM BOOKMARK
		WHERE EBOOKPAGE = #{ebookPage} and MEMBER_NO = #{member_no} and EBOOK_NO = #{ebook_no}
	</delete>
	
	
	<select id="getBookmarkList">	
	
	</select>

	<update id="updateLastPage" parameterType="BorrowVO">
		UPDATE BORROW SET READPAGE = #{readPage} WHERE BORROW_NO = #{borrow_no}
	</update>
	
	
	<insert id="setBorrow" parameterType="BorrowVO">
		insert into BORROW ( BORROW_NO ,EBOOK_NO ,MEMBER_NO ,BORROWDATE ,PERIOD ,CASH ,STATUS ,READPAGE )
		values(borrow_no_seq.nextval, #{member_no} , #{ebook_no},  SYSDATE , #{period}, #{cash}, 'NEW' ,'NEW')
	</insert>
	
	<!-- 
	select *  from BORROW  where EBOOK_NO='1' and MEMBER_NO='1' and BORROWDATE+period>sysdate  order by BORROWDATE desc 
	 -->
	 
	 <select id="getEbookDetail" parameterType="EbookVO">
	 	select
			e.ebook_no,
	 		e.title,
	 		e.author,
	 		e.publisher,
	 		e.publishedDate,
	 		e.intro,
	 		e.cash,
	 		e.category,
	 		files.fileurl as cover,
    		(b.BORROWDATE+b.period) as expiryDate
		from EBOOK e 
		LEFT OUTER JOIN files  ON
		(cover= files.file_no 
		 and files.filetype= 'COVER' 
		 and files.book_type='EBOOK')
		 
     	left outer join borrow b on
     	(b.ebook_no = e.ebook_no)
     	
     	where e.ebook_no=#{ebook_no}
	 </select>
	 
	 
	 
</mapper>