<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.ebook.cobook.mapper.MemberMapper">
	
	<insert id="insertMember">
	insert into member(member_no, nickname, password, sex, age, mypoint, email)
	values (member_no_seq.nextval, #{nickname}, #{password}, #{sex}, #{age},
			#{mypoint}, #{email})
	
	</insert>
	
	<update id="updatePassword">
	update member 
	set
		password = #{password}
	where
		member_no = #{member_no} 
	
	</update>
	
	<select id="getMember" resultType="MemberVO">
	SELECT email, nickname, password FROM member
	WHERE email = #{email}
	</select>

	<select id="getEmail" parameterType="String" resultType="MemberVO">
	SELECT email FROM member
	WHERE email = #{email}
	</select>

	<select id="getNickName" parameterType="String" resultType="MemberVO">
	SELECT nickname FROM member
	WHERE nickname = #{nickname}
	</select>
	
	

</mapper>