<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.ebook.cobook.mapper.MybookMapper">

	
	<select id="getMybookList" resultType="map" parameterType="org.ebook.cobook.board.domain.Criteria">
<![CDATA[
SELECT mybook_no, title, reg_date, nickname, hit, fileurl 
FROM(
	 SELECT m1.mybook_no, m1.title, m1.reg_date, m2.nickname, m1.hit, f.fileurl, ROW_NUMBER() OVER(ORDER BY m1.mybook_no desc) AS rn
             FROM mybook m1, member m2, files f
             WHERE m1.MEMBER_NO = m2.MEMBER_NO
             AND m1.MYBOOK_NO = f.BOOK_NO
             AND f.BOOK_TYPE like 'MYBOOK'
             AND f.FILETYPE like 'COVER'
	  )
WHERE rn > #{pageStart} AND ROWNUM <= #{perPageNum}
             ]]>
		<!-- <include refid="search"></include> -->

	</select>

	<select id="getCriCount" resultType="int">
	<![CDATA[
	 SELECT count(mybook_no) 
 	 FROM mybook
 	 WHERE mybook_no > 0 
	]]>
		<!-- <include refid="search"></include> -->

	</select>

	<insert id="insert">
		INSERT INTO MYBOOK
		(MYBOOK_NO,
		MEMBER_NO,
		TITLE,
		CONTENTS,
		HIT,
		Reg_date)
		VALUES
		(mybook_no_seq.nextval,
		#{member_no},
		#{title},
		#{contents},
		0,
		sysdate)

		<selectKey resultType="int" keyProperty="mybook_no" order="AFTER">
			SELECT mybook_no_seq.currval FROM dual
		</selectKey>

	</insert>

	<select id="getMybookSingle" resultType="map">
		SELECT m.mybook_no, m.member_no, m.title, m.contents, m.hit, m.reg_date
		, f.file_no, f.fileurl
		FROM mybook m, files f
		WHERE m.mybook_no = #{mybook_no}
		AND m.mybook_no = f.book_no
		AND f.BOOK_TYPE like 'MYBOOK'
		AND f.FILETYPE like 'COVER'

	</select>

	<update id="update">
		UPDATE MYBOOK
		SET
		TITLE = #{title},
		CONTENTS = #{contents}
		WHERE MYBOOK_NO = #{mybook_no}
	</update>

	<delete id="delete">
		DELETE FROM mybook
		WHERE mybook_no = #{mybook_no}
	</delete>

	<update id="increseHit">
		UPDATE mybook
		SET
		hit = hit + 1
		WHERE
		mybook_no = #{mybook_no}

	</update>



	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 't'.toString()">
				AND title LIKE CONCAT('%', #{keyword}) || '%'
			</if>
			<if test="searchType == 'c'.toString()">
				AND contents LIKE CONCAT('%', #{keyword}) || '%'
			</if>
			<if test="searchType == 'w'.toString()">
				AND member_no
				IN(select member_no FROM member
				WHERE
				nickname LIKE CONCAT('%', #{keyword}) || '%')
			</if>
			<if test="searchType == 'tc'.toString()">
				and ( title LIKE CONCAT('%', #{keyword}) || '%' OR
				contents LIKE
				CONCAT('%', #{keyword}) || '%')
			</if>
			<if test="searchType == 'cw'.toString()">
				and
				( contents LIKE CONCAT('%', #{keyword}) || '%'
				OR
				member_no IN(select member_no FROM member
				WHERE nickname LIKE
				CONCAT('%', #{keyword}) || '%')
				)
			</if>
			<if test="searchType == 'tcw'.toString()">
				AND
				( title LIKE CONCAT('%', #{keyword}) || '%'
				OR
				contents
				LIKE CONCAT('%', #{keyword}) || '%'
				OR
				member_no IN(select member_no
				FROM member
				WHERE nickname LIKE CONCAT('%', #{keyword}) || '%')
				)
			</if>
		</if>
	</sql>

	<select id="listAll" resultType="MybookVO">
		select * from mybook
	</select>

</mapper>