<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.ebook.cobook.mapper.ReplyMapper">

	<!-- 댓글 총갯수 -->
	<select id="getReplyCount" resultType="int">
		SELECT COUNT(*) FROM reply
		WHERE board_no = #{board_no}
		AND parent_type like #{parent_type}
	</select>

	<!-- 댓글 + 좋아요 리스트 -->
	<select id="replyList" resultType="map">
		<![CDATA[	
		
SELECT reply_no, member_no, parent_no, parent_type, board_no, contents, reg_date, like_it_no, l_member, nickname
FROM(
	  SELECT ROWNUM rn, reply_no, member_no, parent_no, parent_type, board_no, contents, reg_date, like_it_no, l_member, nickname
	  FROM
	  	  (
			SELECT r.reply_no, r.member_no, r.parent_no, r.parent_type, r.board_no, r.contents, r.reg_date, l.like_it_no, l.member_no AS l_member, m.nickname 
			FROM reply r, member m, like_it l
			WHERE r.member_no = m.member_no
			AND
      			r.reply_no = l.reply_no
			AND 
      			r.board_no = #{board_no}
			AND
      			r.parent_type like #{parent_type}
			ORDER BY parent_no asc, reply_no asc
		   )
	)
WHERE rn >= #{cri.pageStart} AND ROWNUM <= #{cri.perPageNum}
	]]>

	</select>

	<!-- 댓글 입력 -->
	<insert id="insertReply">
		INSERT INTO reply
		(reply_no, member_no, parent_no,
		parent_type, board_no,
		contents, reg_date)
		VALUES
		(reply_no_seq.nextval,
		#{member_no}, reply_no_seq.currval,
		#{parent_type}, #{board_no},
		#{contents}, sysdate)
	</insert>

	<!-- 답글 입력 -->
	<insert id="insertComment">
		INSERT INTO reply
		(reply_no, member_no,
		parent_no,parent_type,
		board_no,contents, reg_date)
		VALUES
		(reply_no_seq.nextval, #{member_no}, #{parent_no}, #{parent_type},
		#{board_no}, #{contents}, sysdate)
	</insert>

	<!-- 댓글수정 -->
	<update id="updateReply">
		UPDATE
		reply
		SET
		contents = #{contents}
		WHERE
		reply_no =
		#{reply_no}

	</update>

	<!-- 댓글 삭제 -->
	<delete id="deleteReply">
		DELETE
		reply
		WHERE
		reply_no = #{reply_no}

	</delete>

	<!-- 좋아요 추가 -->
	<insert id="addLikeIt">
		insert into LIKE_IT (like_it_no, member_no, reply_no)
		values (like_it_no_seq.nextval, #{member_no}, #{reply_no})
	</insert>

	<!-- 좋아요 삭제 -->
	<delete id="deleteLikeIt">
		delete like_it where like_it_no = #{like_it_no}
	</delete>

	
	
	<!-- 별점 + 댓글 -->
	


</mapper>