<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org/DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<package name="org.ebook.cobook.editor.domain" />
		<package name="org.ebook.cobook.reply.domain" />
		<package name="org.ebook.cobook.reivew.domain" />
		<package name="org.ebook.cobook.good.domain" />
		<package name="org.ebook.cobook.star.domain" />
	</typeAliases>

</configuration>